{
    "port": 8001,
    "appName": "user-service",
    "appEnv": "local",
    "signatureKey": "CHANGE_ME",
    "database": {
      "host": "127.0.0.1",
      "port": 5432,
      "name": "",
      "username": "",
      "password": "",
      "maxOpenConnection": 10,
      "maxLifetimeConnection": 10,
      "maxIdleConnection": 10,
      "maxIdleTime": 10
    },
    "rateLimiterMaxRequest": 1000,
    "rateLimiterTimeSecond": 60,
    "jwtSecretKey": "CHANGE_ME",
    "jwtExpirationTime": 1440,
    "allowedOrigins": ["http://localhost:3000"]
  }
